exportPattern("^[[:alpha:]]+")
import(data.table)
import(rjson)
import(plotrix)
import(brew)
import(RCurl)
import(plyr)
export(plotCI)
export(toJSON)
export(fromJSON)
export(data.table)
import(drc)
export(LL.4)
export(W2.4)
